[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/N64Recomp/N64ModernRuntime
[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi
[submodule "lib/freetype-windows-binaries"]
	path = lib/freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries/
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = https://github.com/sammycage/lunasvg
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/rt64/rt64
[submodule "lib/slot_map"]
	path = lib/slot_map
	url = https://github.com/SergeyMakeev/slot_map
[submodule "lib/bk-decomp"]
	path = lib/bk-decomp
	url = https://gitlab.com/banjo.decomp/banjo-kazooie
