/* stylelint-disable color-no-hex, color-hex-length */

$color-background-1: Background1;
$color-background-2: Background2;
$color-background-3: Background3;
$color-bg-overlay: BGOverlay;
$color-modal-overlay: ModalOverlay;
$color-bg-shadow: BGShadow;
$color-bg-shadow-2: BGShadow2;
$color-text: Text;
$color-text-active: TextActive;
$color-text-dim: TextDim;
$color-text-inactive: TextInactive;
$color-text-a5: TextA5;
$color-text-a20: TextA20;
$color-text-a30: TextA30;
$color-text-a50: TextA50;
$color-text-a80: TextA80;
$color-primary: Primary;
$color-primary-l: PrimaryL;
$color-primary-d: PrimaryD;
$color-primary-a5: PrimaryA5;
$color-primary-a20: PrimaryA20;
$color-primary-a30: PrimaryA30;
$color-primary-a50: PrimaryA50;
$color-primary-a80: PrimaryA80;
$color-secondary: Secondary;
$color-secondary-l: SecondaryL;
$color-secondary-d: SecondaryD;
$color-secondary-a5: SecondaryA5;
$color-secondary-a20: SecondaryA20;
$color-secondary-a30: SecondaryA30;
$color-secondary-a50: SecondaryA50;
$color-secondary-a80: SecondaryA80;
$color-warning: Warning;
$color-warning-l: WarningL;
$color-warning-d: WarningD;
$color-warning-a5: WarningA5;
$color-warning-a20: WarningA20;
$color-warning-a30: WarningA30;
$color-warning-a50: WarningA50;
$color-warning-a80: WarningA80;
$color-danger: Danger;
$color-danger-l: DangerL;
$color-danger-d: DangerD;
$color-danger-a5: DangerA5;
$color-danger-a20: DangerA20;
$color-danger-a30: DangerA30;
$color-danger-a50: DangerA50;
$color-danger-a80: DangerA80;
$color-success: Success;
$color-success-l: SuccessL;
$color-success-d: SuccessD;
$color-success-a5: SuccessA5;
$color-success-a20: SuccessA20;
$color-success-a30: SuccessA30;
$color-success-a50: SuccessA50;
$color-success-a80: SuccessA80;
$color-border: Border;
$color-border-soft: BorderSoft;
$color-border-hard: BorderHard;
$color-border-solid: BorderSolid;
$color-transparent: Transparent;
$color-a: A;
$color-a-l: AL;
$color-a-d: AD;
$color-a-a5: AA5;
$color-a-a20: AA20;
$color-a-a30: AA30;
$color-a-a50: AA50;
$color-a-a80: AA80;
$color-white: White;
$color-white-a5: WhiteA5;
$color-white-a20: WhiteA20;
$color-white-a30: WhiteA30;
$color-white-a50: WhiteA50;
$color-white-a80: WhiteA80;
$color-bw-05: BW05;
$color-bw-10: BW10;
$color-bw-25: BW25;
$color-bw-50: BW50;
$color-bw-75: BW75;
$color-bw-90: BW90;
